.myListings-page {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y:auto;
    overflow-x: auto;
}


.listing-tables{
    margin-top: -25rem;
    margin-left: 2vw;
}

.postdebtbox{

    margin-top: 3rem;
    margin-right: 15rem;
    margin-bottom: 9.5rem;
    margin-left: 8rem;
}

@media (max-width: 1127px) {
    .postdebtbox{
        margin-left: 7rem;
        margin-right: 120vw;
        margin-bottom: 10rem;
    }    
}

.botton-table{
    margin-bottom: 5rem;
}

