.user-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}


.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
}

.user-details-page{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(245, 245, 245);
}

.user-details-page .user_title{
    font-size: 5vw;
    margin-left: 5vw;
    margin-bottom: -4vw;
    font-family: Arial, Helvetica, sans-serif ;
}

.user-details-form{
    position: relative;
    top: -2%;
    width: 40vw;
    border-radius: 30px;
    background-color: rgb(114, 137, 218);
    color: white;
}


.form{
    display: flex;
    flex-direction: column;
    margin-top: 015%;
}

.form h3{
    width: 32vw;
    margin-bottom: 3vw;
    height: 2.7vw;
    font-size: 1.3vw;
    border-width: 0.1px;
    border-color: rgb(201, 201, 201);
    padding-left: 0.3vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    border-radius: 5px;
    align-self: center;
    
}


.user-details-page p{
    position: relative;
    font-size: 1.4vw;
    align-self: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 2%;
}

