.compact-header{
    border-color: rgb(201, 201, 201);
    width: 27.5vw;
    margin-left: 67.5vw;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(114, 137, 218);
    color: white;
    font-size: 1.8vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 20vh;
    position: absolute;
}

@media (max-width: 900px){
    .compact-header{
        width: 17rem;
        height: 80vh;
        font-size: 1rem;
        margin-left: 30rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .compact-header .compact-title{
        margin-bottom: 4rem;
        font-size: 1.5rem;
    }
    .compact-number{
        margin-bottom: 0%;
        color: white;
        font-weight: 300;
        font-size: 2rem;
    }
}

.compact-number{
    margin-top: 1%;
    margin-bottom: 3%;
    color: white;
    font-weight: 300;
}



