.compact-header{
    border-color: rgb(201, 201, 201);
    width: 27.5vw;
    margin-left: 67.5vw;
    border-radius: 10px;
    padding: 1rem;
    background-color: rgb(114, 137, 218);
    color: white;
    font-size: 1.8vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 20vh;
    position: absolute;
}

@media (max-width: 800px){
    .compact-header{
        width: 17rem;
        height: 10rem;
        font-size: 1rem;
        margin-left: 30rem;
        margin-right: 10vw;
        padding-top: -2rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.compact-number{
    margin-top: 1%;
    margin-bottom: 3%;
    color: white;
    font-weight: 300;
}



