.Login{
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: -8px;
    margin-left: -8px;
    background-color: rgb(245, 245, 245);
}

.Login-form{
    position: absolute;
    top: 9vw;
}


.form{
    display: flex;
    flex-direction: column;
}

.form input{
    width: 32vw;
    margin-bottom: 2.5vw;
    height: 2.7vw;
    font-size: 1.3vw;
    border-width: 0.2px;
    padding-left: 0.3vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
}

.form button{
    width: 30vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: 1.3vw;
    height: 2.5vw;
    background-color: rgb(0, 130, 229);
    border: none;
    color: white;
    font-size: 1.1vw;
}

.form button:hover{
    background-color: rgb(2, 105, 184);
}

.form button:active{
    background-color: rgb(2, 63, 110);
}


.Login p{
    position: absolute;
    top: 50vw;
    font-size: 1.4vw;
}