.post-debt-container{
    height: 30vh;
    border-color: rgb(201, 201, 201);
    width: 24rem;
    margin-left: 60vw;
    border-radius: 10px;
    padding: 1vw;
    background-color: rgb(245, 245, 245);
    font-size: 1rem;
    text-align: center;
}

.post-debt-form{
    margin-top: 1.3vw;
    display: flex;
    flex-direction: column;
    gap: 10%;
    width: 100%;
    height: 80%;
}

.post-debt-form input{
    height: 20%;
    width: 90%;
    align-self: center;
}

.post-debt-form button{
    margin-top: 0%;
    height: 18%;
    width: 40%;
    align-self: center;
    background-color: rgb(114, 137, 218);
    color: white;
    border-radius: 4px;
    border: none;
}

.post-debt-form button:hover{
    background-color: rgb(90, 109, 175);
}