.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; /* Customize the background color as needed */
    color: #fff; /* Customize the text color as needed */
    padding: 10px;
  }
  
  .navbar-logo {
    font-size: 24px; /* Customize the font size as needed */
  }
  
  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-links-left {
    margin-right: auto; /* Push the links to the left */
  }
  
  .navbar-links-right {
    margin-left: auto; /* Push the Logout button to the right */
  }
  
  .navbar-links a {
    color: #fff; /* Customize link text color */
    text-decoration: none;
    margin-right: 20px; /* Adjust the spacing between links */
  }
  
  .logout-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fff; /* Customize button text color */
    text-decoration: underline; /* Make the button look like a link */
    font-size: inherit; /* Inherit font size from parent */
    padding: 0;
  }
  
  .logout-button:hover {
    text-decoration: none; /* Remove underline on hover */
  }